.nav-container {
  margin-bottom: 0;
  position: relative;
  z-index: 5;
  width: 100%;
  border-radius: 0;
}

.navLink {
  color: #ffffff;
  padding: 10px 15px;
  font-size: 120%;
  transition: ease-out border 0.5s, ease-out color 0.5s, ease-out padding 0.5s;
}

.navLink:link {
  color: #ffffff;
  text-decoration: none;
  font-size: 120%;
}

.navLink:hover {
  color: #ffffff;
  background-color: #fa8072;
  text-decoration: none;
  padding: 10px 14px;
  border: 1px solid #fa8072;
  transition: ease-in color 0.3s, ease-in border 0.3s, ease-in padding 0.3s,
    ease-out padding 0.3s, ease-in background-color 0.3s;
  border-radius: 25px;
}

.navLink:active {
  color: #fa8072;
  border-bottom: 1px solid #fa8072;
  padding-bottom: 5px;
  text-decoration: none;
}

.navLink:visited {
  color: #ffffff;
}

.activeRoute {
  color: #fa8072;
  border-bottom: 1px solid #fa8072;
}
