.accordion-title {
    width: 95%;
    margin-left: 2.5%;
    background-color: #f5f5f5;
    transition: 0.4s;
    cursor: pointer;
  }
  .accordion-title:hover {
    background-color: #e4e4e4;
  }
  .accordion-title h2 {
    color: #000000;
    padding: 20px;
    font-size: 150%;
    text-align: left;
  }
  .accordion-content {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    overflow: hidden;
  }
  .accordion-content h3 {
    padding: 10px;
    font-size: 120%;
    text-align: left;
  }