.primary-button{
    background: #FA8072;
    padding:10px 20px;
    border: 1px solid #FA8072;
    color: white;
    transition: ease-in color 0.3s, ease-in background 0.3s, ease-in border 0.3s;
    border-radius: 25px;
    font-size: 120%;
    outline-color: transparent;
}
.primary-button:hover{
    background: white;
    color: #FA8072;
    border: 1px solid #FA8072;
    transition: ease-in color 0.3s, ease-in background 0.3s, ease-in border 0.3s;
}
.secondary-button{
    background-color: transparent;
    padding:10px 20px;
    border: 1px solid #ffffff;
    color: white;
    transition: ease-in color 0.3s, ease-in background 0.3s, ease-in border 0.3s;
    border-radius: 25px;
    font-size: 120%;
    outline-color: transparent;
}
.secondary-button:hover{
    background: #FA8072;
    color: white;
    border: 1px solid #FA8072;
    transition: ease-in color 0.3s, ease-in background 0.3s, ease-in border 0.3s;
}