.footer-container {

    position: relative;
  
    color: #ffffff;
  
    margin-bottom: 0;
  
    left: 0;
  
  }
  
   
  
  /* ******** NAVIGATION LINKS ********* */
  
   
  
  .footer-navLink {
  
    margin: auto;
  
    text-decoration: none;
  
    display: block;
  
    text-align: left;
  
    color: #ffffff;
  
    font-size: 120%;
  
  }
  
  .footer-navLink:hover {
  
    margin: 0;
  
    padding: 0;
  
    color: #FA8072;
  
    text-decoration: none;
  
  }
  
  .footer-navLink:active {
  
    color: #FA8072;
  
    text-decoration: none;
  
  }
  
  .row h1 {
  
    text-align: left;
  
    margin: 7% 0;
  
  }
  
   
  
  /* ******** BAR BELOW LINKS TITLE ********* */
  
   
  
  .bar {
  
    margin: 5px 0 20px 0;
  
    border-bottom: 5px solid #FA8072;
  
    width: 30%;
  
  }
  
  /* ******** CopyRight footer ********* */
  
   
  
  .footer-copy {
  
    margin-top: 2%;
  
  }
  
   
  
  /* ******** SOCIAL MEDIA ********* */
  
  .fa {
  
    padding: 10px;
  
    font-size: 30px;
  
    width: 45px;
  
    border-radius: 50%;
  
    text-decoration: none;
  
    margin: 5px 2px;
  
  }
  
  .social {
  
    text-align: left;
  
  }
  
  .fa:hover {
  
    opacity: 0.7;
  
    text-decoration: none;
  
  }
  
   
  
  .fa-facebook {
  
    background: #3b5998;
  
    color: white;
  
  }
  
   
  
  .fa-twitter {
  
    background: #55acee;
  
    color: white;
  
  }
  
   
  
  .fa-instagram {
  
    background: #3f729b;
  
    color: white;
  
  }
  
   