/* ******** HOMEPAGE PHOTO SECTION ******** */

.homepage-image-container {
  position: relative;

  text-align: center;

  color: black;
}

.homepage-img {
  height: 100vh;

  width: 100%;

  background-image: url('../../assets/pics/homepage-pic.jpg');

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  top: 0;

  left: 0;
}

.homepage-image-content {
  position: absolute;

  top: 70%;

  left: 50%;

  transform: translate(-50%, -50%);

  width: 60%;
}

.homepage-image-content p {
  font-size: 500%;

  font-weight: 300;
}

.homepage-image-text h1 {
  opacity: 1;
}
