/* .modal-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.92;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
} */
.modal-background{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
  }
  .modal-wrapper {
    background: #ffffff;
    border: 1px solid #d0cccc;
    margin: 10% auto 0;
    width: 30%;
    height: 70%;
    z-index: 11;
    position: fixed;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.8s;
  }
  .modal-head h1 {
    width: 50%;
    height: 70%;
    background-color: white;
    color: #000000;
    margin: 5% 0 10% 25%;
  }
  
  .modal-cross {
    float: right;
    color: #FA8072;
    line-height: 25px;
    text-align: center;
    margin: 5px 10px;
    width: 24px;
    font-size: 200%;
    font-weight: 700;
    cursor: pointer;
    transition: all 1.3s;
  }
  .form-input {
    width: 80%;
    margin: 3% auto 0;
  }
  .login-message {
    color: red;
    font-size: 120%;
    font-weight: 200;
  }