.App {
  text-align: center;
  font-size: 15px;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  overflow: hidden;
}

/* ****** LOADER ****** */

.loader {
  border: 16px solid transparent;
  border-radius: 50%;
  border-top: 16px solid #fa8072;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  text-align: center;
  margin-left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ******* TABLE STYLE ******* */

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #fa8072;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*  ******** SEARCH BAR ******** */

.search-bar {
  width: 100%;
  height: 40px;
  display: block;
  position: absolute;
  border-radius: 20px;
  background-color: transparent;
  z-index: 10;
}

.search-bar input {
  padding: 10px;
  background-color: #333;
  /* outline-color: #333; */
  outline-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 150%;
}

.search-bar input::placeholder {
  color: #fa8072;
  font-size: 120%;
}

/* ******* COMMON SECTION DESIGN ******* */
.section-Header {
  background-color: #e7e7e7;
  margin-top: 20px;
}

.section-title {
  background-color: #ffffff;
  width: 90%;
  margin-left: 5%;
  height: auto;
  text-align: center;
  padding: 1%;
}

.section-title h1 {
  color: #fa8072;
  font-size: 300%;
}

.section-title h2,
.section-Header p {
  font-size: 150%;
}

.section-content {
  background-color: #ffffff;
  width: 90%;
  margin: 1% 0 1% 5%;
  height: auto;
  padding: 2%;
}

/* ******SECTION STYLING ********/
.individual-item {
  text-align: center;
  width: 28%;
  margin: 0 1%;
  margin-bottom: 2%;
}
.individual-item h2 {
  text-align: center;
  padding-bottom: 20px;
}

.individual-item h4 {
  text-align: justify;
}

/* ******** ION ICONS ******** */
ion-icon {
  color: #fa8072;
}